@{
    ViewData["Title"] = "Home Page";
}

<div class="flex content-center justify-center h-full w-full" >
    <div class="flex content-center flex-col gap-1">
        <h1 class="text-6xl">Welcome</h1>
        <p >Learn about <a href="https://learn.microsoft.com/aspnet/core" target="_blank" class="text-blue-500" >building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
